{
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {"esmodules": true}
        }
      ],
      "@babel/preset-react",
      "@babel/preset-typescript"
    ],
    "plugins": [
      [
        "module-resolver",
        {
          "extensions": [".ts", ".tsx"],
          "root": ["./src"],
          "alias": {
            "root": ".",
            "src": "/src"
          }
        }
      ]
    ]
}