.space-breaker {
    margin: 10px 40px 18px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    display: flex;
    & .line1 {
      background-color: #dbdbdb;
      background-color: rgba(var(--b38, 219, 219, 219), 1);
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      height: 1px;
      position: relative;
      top: 0.45em;
    }
    & .line1-text {
      color: #8e8e8e;
      color: rgba(var(--f52, 142, 142, 142), 1);
      -webkit-box-flex: 0;
      -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      font-size: 13px;
      font-weight: 600;
      line-height: 15px;
      margin: 0 18px;
      text-transform: uppercase;
    }
  }