* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#app, html, body, main{
  height: 100vh;
}
body {
  // use 100 percent of view height
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.main {
  margin: calc(1rem - (-7%)) 0 auto 0;
  padding: 10px;
  overflow: auto;
}
/* overwrite */
body {
  margin-bottom: 0;
}

.MuiButton-root{
    text-transform: none !important;
}
.MuiCardContent-root:last-child {
  padding-bottom: 0px !important;
}
.MuiInputBase-input{
  height: 0.8116em !important;
}
.MuiOutlinedInput-inputMarginDense {
  padding-top: 9.5px !important;
  padding-bottom: 7.5px !important;
}

a{
  color: #898989;
  text-decoration: none;
}
